@model HomeModel
@{
    ViewData["Title"] = "Home Page";
    string imagen = Url.Content($"~/img/bg3.jpg");
}

<div class="page-header header-filter" data-parallax="true" style="background-image: url('@imagen')">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="title">BIENVENIDOS</h1>
                <h4>
                    Las casas de la cultura del municipio de Olaya promueve la lectura, escritura, información, y las diferentes manifestaciones artistico-culturales,convirtiendonos en una institución dinámica y fortaleciondo la integración cultural.
                    Este es un lugar donde respetamos los derechos fundamentales y el sentir artístico de cada uno, respaldndo iniciativas qe tengan como fin lograr la identidad cultural del municipio.
                </h4>
                <br>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-play"></i> Watch video
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Nuestras sedes</h2>
                    @*<h5 class="description">El municipio de Olaya cuenta con tres sedes de casa de la cultura</h5>*@
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <img class="img-fluid" src="~/img/olaya.jpg" />
                            <h4 class="info-title">Olaya</h4>
                            @*<p> Esta ubicado en el casco urbano del municipio en el parque princial/p>*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <img class="img-fluid" src="~/img/sucre.jpg" />
                            <h4 class="info-title">Sucre</h4>
                            @*<p>Esta ubicado en el corregimiento de Sucre en el parque principal</p>*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <img class="img-fluid" src="~/img/llanadas.jpg" />
                            <h4 class="info-title">Llanadas</h4>
                            @*<p> Esta ubicado en el corregimiento de llanadas en el parque principal.</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <h2 class="title">Administradores</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="~/img/zuleima.jpg" alt="foto zuleima" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Zuleima Ortiz Perez
                                    <br>
                                    <small class="card-description text-muted">trabajador social</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                       Brinda atención en la casa de la cultura Sucre y Olaya
                                   
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="~/img/faces/christian.jpg" alt="Foto Alexander" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Alexander Jaramillo
                                    <br>
                                    <small class="card-description text-muted">profesional en literatura y linguística</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                       Brinda atención en la biblioteca del corregimiento de Llanadas.
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="~/img/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">
                                    Kendall Jenner
                                    <br>
                                    <small class="card-description text-muted">Model</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                        <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-contacts">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center title">Noticias</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Article)
	            {
                <div class="col-md-3">

                    <div class="card">
                        <img class="card-img-top" src="@item.UrlToImage"  target="_blank" alt="@item.Title">
                        <div class="card-body">
                            <h6>@item.Title</h6>
                            <p class="card-text">@item.Description</p>
                            <a href="@item.Url" target="_blank" class="btn btn-primary">Ver</a>
                        </div>
                    </div>

                </div>
	            }
            </div>
        </div>
    </div>
</div>
